{% extends "tasks/layout.html" %}

{% block title%} 
<title>Edit Task</title>
{% endblock %}

{% block body %}
    <h1>Editing Task "{{task}}"</h1>
    <form action="{% url 'tasks:edit' task.id %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Save" name = "save">
    </form>
    <br>

    <form action="{% url 'tasks:edit' task.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" name = "delete">
        <input type="submit" value="Cancel" name = "cancel">
    </form>
    
    
{% endblock %}